nav{
    & .flex{
        justify-content: space-between;
    
        padding-block: 1.25rem;

        & img{
            width: 2rem;
            height: 2rem;
        }

        & a{
            position: relative;

            & span{
                position: absolute;

                top: -.5rem;
                right: -.5rem;
                background-color: var(--snitap-sun);
                padding: 2px 7px;
                border-radius: 50%;
                
                font: 400 .75rem/1.3 var(--font-inter);
                color: var(--text-color);

            }
        }
    }

    @media (width >= 80em){
        .flex{
            padding-block: 1.25rem;


            img[src*="logo"]{
                transition: transform 500ms ease;
            }
    
            img[src*="logo"]:hover{
              transform: rotate(180deg);
            }
    
            img[src*="shoppind"]{
                transition: transform 500ms ease;
            }
    
            img[src*="shopping"]:hover{
              transform: rotate(-30deg);
            }
        }
    }
}

#hero{
    flex-direction: column;
    align-items: center;
    padding-block: 1.5rem;
    & .img-animation{
        position: relative;
        width: 19.5rem;
        height: 19.5rem;
        justify-content: center;

        img{
            position: absolute;
        }

        img[src*="Ellipse"]{
            width: 18.43rem;

            left: 50%;
            transform: translate(-50%);

            animation:  move-bg 2.5s ease;
        }

        img[src*="patins-image"]{
            left: 50%;
            transform: translate(-50%);
            width: 19.5rem;

            animation: move-patins 2s ease;
        }

        img[src*="Stars 1"]{
            top: 5.375rem;
            left: .4rem;

            width: 3.5rem;

            animation: move-stars 2s ease;
        }

        img[src*="Stars 2"]{
            top: 10.25rem;
            right: .1rem;

            width: 1.5rem;

            animation: move-stars 2.5s ease;
        }
    }

    & .text-animation{
        flex-direction: column;
        & h1 div{
            display: inline-block;
            vertical-align: bottom;
            overflow: hidden;
            width: min-content;
            height: 2.5rem;

            & span:nth-child(1), & span:nth-child(4){
                color: var(--snitap-sky-mid);
            }
            & span:nth-child(2){
                color: var(--snitap-joy-mid);
            }
            & span:nth-child(3){
                color: var(--snitap-leaf-mid);
            }

            & span{
                display: block;
                animation: slideUp 6s 2s infinite ease;
            }

        }

        & .btn{
            display: grid;
            margin-top: 3rem;
            gap: 1.5rem;

            & a{
                font: var(--btn-label);
            }

            & a:nth-child(1){
                align-items: center;
                gap: .75rem;

                & span{
                    display: flex;
                    background-color: white;
                    border-radius: 50%;
                    padding: 1.5rem;
                }
            
            }

            & a:nth-child(2){
                justify-content: center;
                padding: 1.5rem 3rem;
                border-radius: 5rem;
                gap: .75rem;
                background-color: var(--snitap-sun);

                & img{
                    vertical-align: bottom;
                }
            }
        }
    }

    & .img-animation + .text-animation{
        margin-top: 2.5rem;
    }
    
}
@keyframes slideUp{
    0%, 22%{
        transform: translate(0);
    }

    /* divertida in */

    23%{
        transform: translateY(calc(-2.5rem - 8px));
    }
    25%{
        transform: translateY(calc(-2.5rem + 5px));
    }
    27%{
        transform: translateY(calc(-2.5rem - 3px));
    }
    30%{
        transform: translateY(calc(-2.5rem + 2px));
    }


    33%, 55%{
        transform: translatey(-2.5rem);
    }

    /* divertida static */

    /* saudável in */
    56%{
        transform: translateY(calc(-5rem - 8px));
    }
    58%{
        transform: translateY(calc(-5rem + 5px));
    }
    60%{
        transform: translateY(calc(-5rem - 3px));
    }
    62%{
        transform: translateY(calc(-5rem + 2px));
    }
    
    66%, 88%{
        transform: translatey(-5rem);
    }
    /* saudável static */


    90%{
        transform: translateY(calc(-7.5rem - 8px));
    }
    92%{
        transform: translateY(calc(-7.5rem + 5px));
    }
    94%{
        transform: translateY(calc(-7.5rem - 3px));
    }
    96%{
        transform: translateY(calc(-7.5rem + 2px));
    }


    100%{
        transform: translatey(-7.5rem);
    }
}
@keyframes move-bg{
    0%{
        transform: translateX(30rem);
    }
    50%{
        transform: translateX(-16rem);
    }
    100%{
        transform: translateX();
    }
}
@keyframes move-stars{
    0%{
        transform: translateX(60rem);
    }
    50%{
        transform: translateX(-1rem);
    }
    100%{
        transform: translateX();
    }
}
@keyframes move-patins{
    0%{
        transform: translateX(20rem);
    }
    50%{
        transform: translateX(-16rem);
    }
    100%{
        transform: translateX();
    }
}
@media (width >= 80em){
    #hero{
        flex-direction: row-reverse;
        padding-block: 2.5rem;
        justify-content: space-between;

        & .img-animation{
            width: 30.5rem;
            height: 30.5rem;
            justify-content: center;
    
            img{
                position: absolute;
            }
    
            img[src*="Ellipse"]{
                width: 28.87rem;
    
                left: 50%;
                transform: translate(-50%);
            }
    
            img[src*="patins-image"]{
                top: 1rem;
                left: 50%;
                transform: translate(-50%);
                width: 30.5rem;
                z-index: 10;
            }
    
            img[src*="Stars 1"]{
                top: 5.375rem;
                left: 1.5rem;
                width: 5.5rem;
            }
    
            img[src*="Stars 2"]{
                top: 10.25rem;
                right: -.4rem;
    
                width: 2.5rem;
            }
        }

        & .text-animation{
            width: 43.5rem;
        
            & h1 div{
                height: 5rem;
            }

            & .btn{
                display: flex;

                flex-direction: row-reverse;
                justify-content: start;
                gap: 2rem;

                & a{
                    transition: transform 350ms;
                }
                
                & a:nth-child(2){
                    & img{
                        margin-right: .75rem;
                    }
                }
            }

            & .shadow{
                box-shadow:
                0 2px 5px rgb(0 0 0 / .1),
                0 9px 9px rgb(0 0 0 / .09),
                0 20px 12px rgb(0 0 0 / .05),
                0 36px 15px rgb(0 0 0 / .01);
            }

            & a:hover{
                transform: scale(1.1);
            }
        }
    }

    @keyframes slideUp{
        0%, 22%{
            transform: translate(0);
        }
    
        /* divertida in */
    
        23%{
            transform: translateY(calc(-5rem - 15px));
        }
        25%{
            transform: translateY(calc(-5rem + 10px));
        }
        27%{
            transform: translateY(calc(-5rem - 5px));
        }
        30%{
            transform: translateY(calc(-5rem + 5px));
        }
    
    
        33%, 55%{
            transform: translatey(-5rem);
        }
    
        /* divertida static */
    
        /* saudável in */
        56%{
            transform: translateY(calc(-10rem - 15px));
        }
        58%{
            transform: translateY(calc(-10rem + 10px));
        }
        60%{
            transform: translateY(calc(-10rem - 5px));
        }
        62%{
            transform: translateY(calc(-10rem + 5px));
        }
        
        66%, 88%{
            transform: translatey(-10rem);
        }
        /* saudável static */
    
    
        90%{
            transform: translateY(calc(-15rem - 15px));
        }
        92%{
            transform: translateY(calc(-15rem + 10px));
        }
        94%{
            transform: translateY(calc(-15rem - 5px));
        }
        96%{
            transform: translateY(calc(-15rem + 5px));
        }
    
    
        100%{
            transform: translatey(-15rem);
        }
    }
}
